* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f7ff;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;

}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

/* header style */
.header {
    width: 1441px;
    height: 745px;
    background-image: url('../images/Hero-bg.png');
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0px 154px;
    padding: 50px 0px;
}

nav a {
    text-decoration: none;
}

.logo {
    color: #4E47FF;
    font-size: 34px;
    font-weight: 800;
}

.nav-btn {
    padding: 12px 36px;
    background-color: #4E47FF;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    border: none;
}

.nav-btn:hover {
    padding: 12px 36px;
    background-color: #4bbcdc;
    color: rgb(25, 14, 3);
    border-radius: 5px;
    font-size: 18px;
}

.header-conten {
    text-align: center;
    margin: 156px 268px;
    margin-bottom: 190px;
}

.header-conten-cool {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
}

.header-conten-btn {
    padding: 12px 36px;
    background-color: #4E47FF;
    color: white;
    border-radius: 8px;
    margin-top: 37px;
    font-size: 16px;
    border: none;
}

.header-conten-btn:hover {
    background-color: #4bbcdc;
    color: rgb(25, 14, 3);
}

/* main style */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.main-first-section {
    display: flex;
    margin: 68px 0 116px 0;
    justify-content: space-between;
    height: 328px;
    background-color: #f5f7ff;

}

.main-first-conten {
    width: 517px;
    height: 203px;
    margin: 62px 0px;
}

.main-first-conten-action {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 16px;
}

.main-first-conten-btn {}

.main-first-conten-conten {
    font-size: 24px;
    font-weight: 400px;
    color: rgba(37, 36, 50, 0.5);
}

.main-first-image {
    border-radius: 48px;
}

/* maim section two style */
.section-two {
    text-align: center;
    height: 306px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    margin-bottom: 137pxgit;
}

/* productive-users */
.productive {
    font-size: 38px;
    font-weight: bold;
    padding: 50px;
}

.productive-users {
    margin-right: 158px;
    display: flex;
    justify-content: space-between;
    margin-left: 148px;
}

.productive-h2 {
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
}

.productive-conten {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    font-family: i;
}

/* comment-section style */
.comment-section {
    height: 324px;
    margin-top: 137px;
    margin-bottom: 137px;
}

.comment-section-h3 {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.card-content {
    width: 366px;
    height: 243px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 24px;
    border-radius: 14px;
}

.icon {
    color: #FFB805;
    margin-top: 20px;
}

.comment-card {
    display: flex;
    gap: 24px;
}

.comment-card-h3 {
    font-size: 24px;
    font-weight: 600px;
    margin-top: 20px;
}

.comment-card-content {
    color: rgba(30, 30, 30, 1);
    font-size: 16px;
    margin: 18px 50px 23px 0px;

}

.card-avatar {
    display: inline-flex;
    align-items: center;
    margin-top: 15px;
}

.card-img {
    margin-right: 15px;
}

/* banner section style */
.banner {}

.banner-content {
    text-align: center;
    background-color: #FFFFFF;
    height: 695px;
}

.banner-content-h2 {
    font-size: 50px;
    font-weight: bold;
    padding-top: 78px;
    padding-bottom: 20px;
}

.banner-content-btn {
    padding: 12px 36px;
    background-color: #4E47FF;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    margin-bottom: 20px;

}

.banner-content-conten {
    color: #252432;
    margin-bottom: 20px;
}

.banner-img {
    border-radius: 48px;

}

/* form section style */
.form {
    height: 632px;
}

.form-conten {
    display: flex;
    padding: 71px 0px;
    justify-content: space-between;
    background-color: #FFB805;
}

.form-conten-h3 {
    font-size: 97px;
    font-weight: bold;
    margin-top: 120px;
}

.form-conten-title {
    width: 60%;
}

.input-fild {
    width: 40%;
}

input[type="text"],
input[type="email"],
textarea {
    border-radius: 5px;
    padding: 10px 20px;
    width: 91%;
    margin-bottom: 24px;
    display: block;
    margin-top: 10px;
    border: none;

}

.form-btn {
    padding: 14px 182px;
    background-color: #4E47FF;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    margin-bottom: 20px;

}